
/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


.success{
    @apply bg-green-100 border-t-4 border-green-400 rounded-b text-green-900 px-4 py-3 shadow-md my-2
}

.CommentListItem {
    @apply pl-2 py-2 mt-3
}
.CommentListReplies{
    @apply ml-6 bg-gray-100 border-l-4 border-gray-500
}
.CommentCite{
    @apply font-bold text-gray-700
}
.CommentHeader{
    @apply flex flex-no-wrap align-middle content-center items-center
}
.CommentCite{
    @apply mr-2
}
.CommentCreated{
    @apply mx-2 flex-1 font-light
}
.CommentVotes{
    @apply w-8 h-8 rounded-full block bg-cool-gray-700 text-white flex align-middle content-center items-center
}
.CommentActionUpvote{
    @apply mx-auto my-auto block w-full
}
.CommentActionReply{
    @apply font-medium text-cool-gray-700
}
.CommentActionReply:hover, .CommentActionReply:focus{
    @apply text-cool-gray-900 outline-none underline
}
.CommentForm span{
    @apply ml-2 mt-2
}
.CommentFormCite input, .CommentFormEmail input, .CommentFormText textarea{
    @apply w-full ml-2 px-4 py-3 border border-gray-200 rounded-lg shadow-sm  text-gray-600 font-medium
}
.CommentFormCite input:focus, .CommentFormEmail input:focus, .CommentFormText textarea:focus{
    @apply outline-none shadow-outline
}
.CommentFormSubmit button{
    @apply w-full ml-2 border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-cool-gray-500 font-medium
}
.CommentFormSubmit button:hover, .CommentFormSubmit button:focus, {
    @apply outline-none bg-cool-gray-600
}
.CommentFormThread{
    @apply p-2 pr-6
}
.h-screen-28{
    height: 28vw;
}
.bg-gray-transparent{
    background: rgba(0, 0, 0, 0.6);
}